html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 10px;
  margin: 0;
  background-color: #7FDBFF;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  color: #ffffff;
  background-color: #001f3f;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.col-12 { grid-column: span 4; }
.col-6 { grid-column: span 4; }
.col-4 { grid-column: span 2; }
.col-3 { grid-column: span 2; }
.col-2 { grid-column: span 2; }
.col-1 { grid-column: span 1; } 


@media (min-width: 575px) {

  .grid {
    grid-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .col-12 { grid-column: span 8; }
  .col-6 { grid-column: span 4; }
  .col-4 { grid-column: span 2; }
  .col-3 { grid-column: span 2; }
  .col-2 { grid-column: span 2; }
  .col-1 { grid-column: span 1; } 
  
}

@media (min-width: 960px) {

  .grid {
    margin: 0 auto;
    max-width: 960px;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .col-12 { grid-column: span 12; }
  .col-6 { grid-column: span 6; }
  .col-4 { grid-column: span 4; }
  .col-3 { grid-column: span 3; }
  .col-2 { grid-column: span 2; }
  .col-1 { grid-column: span 1; } 

}
